
      
      <header>
         <div class="container header-main">
            <div>
               <!-- hamburger button -->
               <button class="hamburger" onclick="toggleMenu()">☰</button>
               <div class="sidebar" id="sidebar">
                  <span class="close-btn" onclick="toggleMenu()">×</span>
                  <a style="pointer-events: none;">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"><i class="fa-solid fa-user"></i></div>
                        <div class="sidebar-item-text">Welcome: [User Name]</div>
                     </div>
                  </a>
                  <a href="index.html">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"><i class="fa-solid fa-house"></i></div>
                        <div class="sidebar-item-text">Home</div>
                     </div>
                  </a>
                  <a href="review-dashboard.html">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"> <i class="fa-solid fa-square-check"></i></div>
                        <div class="sidebar-item-text">Conexiant Approval Dashboard</div>
                     </div>
                  </a>
                  <a href="review-dashboard.html">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"> <i class="fa-solid fa-square-check"></i></div>
                        <div class="sidebar-item-text">[Company Name] Approval Dashboard</div>
                     </div>
                  </a>
                  <a href="manage-agency-users.html">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"> <i class="fa-solid fa-users-viewfinder"></i></div>
                        <div class="sidebar-item-text">Manage Agency Users</div>
                     </div>
                  </a>
                  <a href="manage-emails.html">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"> <i class="fa-solid fa-envelope"></i></div>
                        <div class="sidebar-item-text">Manage Emails</div>
                     </div>
                  </a>
                  <a href="manage-backend-users.html">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"> <i class="fa-solid fa-users"></i></div>
                        <div class="sidebar-item-text">Manage Backend Users</div>
                     </div>
                  </a>
                  <a href="about-adguardian.html">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"> <i class="fa-solid fa-circle-info"></i></div>
                        <div class="sidebar-item-text">About AdGuardian</div>
                     </div>
                  </a>
                  <a href="contact.html">
                     <div class="sidebar-item">
                        <div class="sidebar-item-icon"> <i class="fa-solid fa-paper-plane"></i></div>
                        <div class="sidebar-item-text">Contact US</div>
                     </div>
                  </a>
               </div>
               <div class="overlay" id="overlay" onclick="toggleMenu()"></div>
            </div>
            <!-- company logo -->
            <div class="header-logo"><img src="img/company-logo.jpg"></div>
            <!-- login button -->
            <div class="dropdown">
               <button onclick="myFunction()" class="primary-btn btn-color-dark dropbtn">Login&nbsp;&nbsp;<i
                  class="fa-solid fa-user"></i></button>
               <div id="myDropdown" class="dropdown-content"> <a href="sign-in.html">Vendor</a> <a href="sign-in.html">Conexiant</a> <a
                  href="sign-in.html">Client</a> </div>
            </div>
         </div>
      </header>      
